<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css"/>
</head>
<style>
    [v-cloak] {
        display: none;
    }
</style>
<body>

<div class="container" id="app">
    <div class="card">
        <h1>План по изучению Vue.js</h1>

        <div class="steps" v-cloak>
            <ul class="steps-list">
                <li
                        class="steps-item"
                        @click="setActive(idx)"
                        v-for="(item, idx) in steps"
                        :class="[
                            { active: idx === activeIndex },
                            { done: idx < activeIndex }
                        ]"
                >
                    <span>{{ idx + 1 }}</span>
                    {{ item.title }}
                </li>
            </ul>
            <div v-if="isEndItem" class="pb-2">
                <button class="btn" :disabled="isDisabled" @click="prev">Назад</button>
                <button class="btn primary" @click="nextOfFinish">{{ activeIndex !== 4 ? 'Вперед' : 'Закончить'}}
                </button>
            </div>
            <div v-else class="pb-2">
                <button class="btn" @click="reset">Начать заного</button>
            </div>

            <div class="steps-content">
                <div class="description">{{ steps[activeIndex].text }}</div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="vue.js"></script>
</body>
</html>
